/*
Theme Name: Azulel
Theme URI: https://wordpress.org/themes/azulel
Author: C.A. iSerT - By Di Michele Roberto, Alarcon Gerald, Gonzalez Josias, Linares Betzabeth 
Author URI: https://isert.com/
Description: Tema creado a medida para Azulel.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: Royald
Tags: self, one-column, two-columns, right-sidebar, flexible-header, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready
This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/* CÓDIGO DE COLORES
    indigo #3f51b5
    azulel #0014d6

*/

/* LIMPIEZA */
* {
    margin: 0px;
    padding: 0px;
}

/* FUENTES AÑADIDAS */
@font-face{
    font-family:'Goudos';
    src: url('fonts/Goudos.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
    font-stretch:normal;
}
@font-face{
    font-family:'Copperplate Gothic Light';
    src: url('fonts/Copperplate.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
    font-stretch:normal;
}
@font-face{
    font-family:'Goudosb';
    src: url('fonts/Goudosb.ttf') format('truetype');
    font-weight:bold;
    font-style:normal;
    font-stretch:normal;
}

@font-face{
    font-family:'Goudosi';
    src: url('fonts/Goudosi.ttf') format('truetype');
    font-weight:normal;
    font-style:italic;
    font-stretch:normal;
}

@font-face{
    font-family:'Goudsabi';
    src: url('fonts/Goudsabi.ttf') format('truetype');
    font-weight:normal;
    font-style:italic;
    font-stretch:normal;
}

@font-face{
    font-family:'Goudsaki';
    src: url('fonts/Goudsaki.ttf') format('truetype');
    font-weight:bold;
    font-style:italic;
    font-stretch:normal;
}

@font-face{
    font-family:'Goudsali';
    src: url('fonts/Goudsali.ttf') format('truetype');
    font-weight:normal;
    font-style:italic;
    font-stretch:normal;
}

@font-face{
    font-family:'Goudsanb';
    src: url('fonts/Goudsanb.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
    font-stretch:normal;
}

@font-face{
    font-family:'Goudsank';
    src: url('fonts/Goudsank.ttf') format('truetype');
    font-weight:bolder;
    font-style:normal;
    font-stretch:normal;
}

@font-face{
    font-family:'Goudsanl';
    src: url('fonts/Goudsanl.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
    font-stretch:normal;
}

@font-face{
    font-family:'Goudsanm';
    src: url('fonts/Goudsanm.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
    font-stretch:normal;
}

@font-face{
    font-family:'Harlowsi';
    src: url('fonts/Harlowsi.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
    font-stretch:normal;
}

/* CLASES DE LAS FUENTES */
.confortaa { font-family: 'Comfortaa', cursive; }
.dosis { font-family: 'Dosis', sans-serif; }
.sourcesp { font-family: 'Source Serif Pro', serif;}
.raleway {font-family: 'Raleway', sans-serif}
.lobster{font-family: 'Lobster', cursive; }
.quatrocentro{font-family: 'Quattrocento', serif;}
.playfair{font-family: 'Playfair Display', serif;}
.goudos { font-family: 'Goudos'; }
.goudosb { font-family: 'Goudosb'; }
.goudosi { font-family: 'Goudosi'; }
.goudsabi { font-family: 'Goudsabi'; }
.goudsaki { font-family: 'Goudsaki'; }
.goudsali { font-family: 'Goudsali'; }
.goudsanb { font-family: 'Goudsanb'; }
.goudsank { font-family: 'Goudsank'; }
.goudsanl { font-family: 'Goudsanl'; }
.goudsanm { font-family: 'Goudsanm'; }
.harlowsi { font-family: 'Harlowsi'; }

/* TEXTO */
.text-bold { font-weight: bold; }
.text-justify { text-align: justify; text-justify: inter-word; }
.interlineado-simple { line-height: 1.2; }

/* COLORES */
.text-white,.hover-text-white:hover { color: #ffffff!important; }
.text-azulel,.hover-text-azulel:hover { color: #0014d6!important; }
.text-azulclaro,.hover-text-azulclaro:hover { color: #0197f0!important; }
.text-dark-grey,.hover-text-dark-grey:hover { color: #383838!important; }
.hover-button:hover { background-color: #0014d6!important; color: #ffffff!important; }


/* BACKGROUND COLORS */
.bg-white,.bg-hover-white:hover { background-color: #ffffff!important; }
.bg-azulel,.bg-hover-azulel:hover { background-color: #0014d6!important; }
.bg-azulel2,.bg-hover-azulel2:hover { background-color: #595990!important; }
.bg-azulclaro,.bg-hover-azulclaro:hover { background-color: #0197f0!important; }

/* Configuración de las tarjetas de las terapias (Tablet y Desktop */
.titulo-terapia { text-decoration: none; }
.contenido-tarjeta-terapia { background-color: #5974c1; color: #ffffff; }
.especialista-tarjeta-terapia { background-color: #0198f1; color: #ffffff; }
.titulo-tarjeta-terapia { background-color: #39a2f3; color: #010f40; }

div#content-size-desktop { height: 140px; }
div#content-size-movil { height: 145px; width: 100%; }

#content-size-movil p,
#content-size-desktop p {
    text-align: justify; 
    text-justify: inter-word; 
    word-wrap: break-word;
    word-break: keep-all;
}

/* Configuración para el blog */
.no-text-decoration { text-decoration: none; }
img.blogimg { max-height: 160px!important; max-width: 100%!important; }
.paginacion a {
    text-decoration: none;
}
.blogcard { border-bottom: 1px solid #f1f1f1; }

/* Configuración del Flexbox para el diseño 2 */
#blog2 .flex-container div.w3-card {
    position: relative;
}

#blog2 .flex-container div {
	background-color: #f1f1f1;
	width: 250px;
	margin: 10px;
	line-height: 1;
}

#blog2 .flex-container div.w3-card a.leer-mas {
    position: absolute;
    bottom: 0;
    right: 10px;
}

#blog2 .flex-container div article p {
	line-height: 1.2;
	margin-bottom: 0;
	text-align: justify;
	height: 72px;
}

/* Configuración de los post para single.php */
.post-img {
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    width: auto;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    color: #0197f0;
    font-family: 'Goudsanl';
    font-weight: 700;
    text-transform: uppercase;
}

.post-content h1 {
    text-align: center;
}

.post-content p {
    font-family: 'Goudos';
    font-size: 16px;
    text-align: justify;
}

article.post-content div div {
    font-family: 'Goudos';
    font-size: 16px;
    text-align: justify;
}

.post-content p a {
    font-style: italic;
    text-decoration: none;
}

.post-content p a:hover {
    color: #0014d6;
    font-style: italic;
    font-weight: 700;
    text-decoration: underline;
}

.post-content ul,
.post-content ol {
    font-family: 'Goudos';
    font-size: 16px;
    padding-left: 50px;
    text-align: justify;
}

.post-content blockquote p {
    background-color: #77c0f84d;
    border-left: 6px solid #010f40;
    border-radius: 10px;
    color: #010f40;
    font-family: 'Comfortaa', cursive;
    font-size: 24px !important;
    margin-left: 25px;
    padding: 30px;
    text-align: center;
}

/* Configuración para los comentarios del single.php */
#comments {
    color: #010f40;
    font-family: 'Goudsanl';
    font-weight: 700;
    text-transform: uppercase;
}

.comment-nivel-1 {
    font-family: 'Goudos';
    font-size: 16px;
    padding: 15px 30px;
    border-radius: 15px;
    background-color: #39a2f333;
    color: #010f40;
}

.comment-nivel-1 img {
    border-radius: 5px;
}

.comment-nivel-1 cite {
    text-decoration: none;
    font-weight: 700;
}

.comment-nivel-1 cite a {
    text-decoration: none;
    font-weight: 700;
}

.comment-nivel-1 div a {
    text-decoration: none;
}

.comment-nivel-1 p {
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 15px;
}

#comentarios ul.children {
    margin-left: 5px;
}

#comentarios ul.children li  div{
    background-color: #5974c1; 
    color: #ffffff;
}

ul.children li div.comment-nivel-1 div.w3-right.w3-ripple {
    margin-right: -10px!important;
}

.w3-ul li {
    border: none;
}

/* Adición de estilos para el formulario de comentarios */
div#respond {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    margin: 30px 2.5%;
    
}

div#respond h3 {
    color: #010f40;
    font-family: 'Goudsanl';
    text-align: center;
    text-transform: uppercase;
}

div#respond p {
    font-family: 'Goudos';
    font-size: 16px;
}

div#respond form#commentform {
    background-color: #59599033;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

div#respond form p {
    padding-top: 5px;
    padding-bottom: 5px;
}

div#respond form p.form-submit {
    margin-top: 10px;
}

div#respond form p span.required {
    color: red;
    font-weight: 700;
}

form#commentform input[type="text"],
form#commentform textarea {
    background-color: #ffffff;
    border: none;
    border-bottom: 1px solid #ccc;
    display: block;
    padding: 8px;
    width: 71%;
}

form#commentform input[type="submit"] {
    border: 1px solid #cfcfcf !important;
    color: inherit;
    background-color: #f5f5f5 !important;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 4px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Estilos para el contact-form */

.error{
    padding: 5px 9px;
    background-color: #ffdddd;
    border-left: 4px solid red;
    color: #383838;;
    border-radius: 3px;
    text-align: center;
    font-family: 'Goudos';
    font-weight: 700;
}

.success{
    padding: 5px 9px;
    background-color: #ddffdd;
    border-left: 4px solid green;
    color: #383838;;
    border-radius: 3px;
    text-align: center;
    font-family: 'Goudos';
    font-weight: 700;
}

#contact-form form span {
    color: red;
}

article #contact-content h1,
article #contact-content h2,
article #contact-content h3,
article #contact-content h4,
article #contact-content h5,
article #contact-content h6 {
    font-family: 'Goudsanm';
    text-transform: uppercase;
    color: #0014d6;
}

article #contact-content p a {
    text-decoration: none;
}

article #contact-content p a:hover {
    text-decoration: underline;
    font-weight: 700;
    font-style: italic;
}

article #contact-content ul,
article #contact-content ol {
    font-family: 'Goudos';
    font-size: 16px;
    padding-left: 50px;
    text-align: justify;
}

article #contact-content blockquote p {
    background-color: #baddf84d;
    border-left: 6px solid #010f40;
    border-radius: 10px;
    color: #010f40;
    font-family: 'Comfortaa', cursive;
    font-size: 24px !important;
    margin-left: 25px;
    padding: 30px;
    text-align: center;
}

.cursor-pointer {
    cursor: pointer;
}

div#contact-form div.w3-row.parent-flex {
    display: flex;
}

div#contact-form div.w3-row.parent-flex  div.w3-col.child-flex {
    margin: auto;
}

.input-color,
.textarea-color {
    background-color: #ffffff;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 8px;
    color: #383838;
    width: 90%
}

.human-verify {
    width: 40px;
}

.submit-button {
    border: 1px solid #cfcfcf !important;
    color: #5d5050;
    background-color: #f5f5f5 !important;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 4px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Añadiendo color y fuente a los placeholder's */
.input-color::-webkit-input-placeholder { /* Safari y Chrome */ 
  color: #383838;
}

.input-color::-moz-placeholder { /* Firefox 19+ */
  color: #383838;
}

.input-color:-moz-placeholder { /* Firefox hasta v18 */
  color: #383838;
}

.input-color:-ms-input-placeholder {  /* IE 10+ */
  color: #383838;
}

/* Estilos para las alertas de suscripción */
.error-footer{
    padding: 5px 9px;
    background-color: #9f313199;;
    border-left: 4px solid red;
    border-radius: 3px;
    text-align: center;
    font-weight: 700;
    margin: 15px;
}

.success-footer{
    padding: 5px 9px;
    background-color: #228f2280;
    border-left: 4px solid green;
    border-radius: 3px;
    text-align: center;
    font-weight: 700;
    margin: 15px;
}

/* CUSTOM STYLES */

ul.menu {
    list-style-type: none;
}

div#mResponsive ul li {
    color: #0014d6!important;
}

.word-rap > p {
    word-wrap: break-word;
    word-break: break-all;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#terapias.flex-container > article {
    width: 450px;
    height: 185px;
    margin: 10px;
}

#terapias-movil.flex-container > article {
    width: 300px;
    height: 184px;
    margin: 10px;
}

/* Estilos del sigle-catalogo.php */
#imagen-encabezado .w3-display-container { height: 250px; }

#img-especialista-desktop {
    width: 160px!important;
}

.img-terapia {
    margin-top: -70px;
    width: 160px;
}

article#info-terapia-desktop h1,
article#info-terapia-desktop h2,
article#info-terapia-desktop h3,
article#info-terapia-desktop h4,
article#info-terapia-desktop h5,
article#info-terapia-desktop h6 {
    color: #0197f0;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 15px;  
    text-transform: uppercase;
}

article#info-terapia-desktop h1 {
    font-family: 'Goudsanl'; 
}

article#info-terapia-desktop h2,
article#info-terapia-desktop h3,
article#info-terapia-desktop h4,
article#info-terapia-desktop h5,
article#info-terapia-desktop h6 {
    font-family: 'Goudsb';
    letter-spacing: -2px;
}

article#info-terapia-desktop p {
    color: #0014d6;
    font-family: 'Goudsb';
    font-weight: 700;
    margin-bottom: 15px;
    text-align: justify;
    text-justify: inter-word; 
    word-wrap: break-word;
    word-break: keep-all;

}

article#info-terapia-desktop ul,
article#info-terapia-desktop ol {
    color: #0014d6;
    font-family: 'Goudsb';
    font-weight: 700;
    list-style-position: inside;
    margin-left: 30px!important;
    text-align: justify;
    text-justify: inter-word; 
    word-wrap: break-word;
    word-break: keep-all;
}

/* Clases con Breakpoints */
.text-menu { font-size: 8pt; }
.menu-margin-xs_lr { margin-left: 2px; margin-right: 2px; }
.menu-padding-xs_lr { padding-left: 8px!important; padding-right: 8px!important; }

/* Extra - Small devices (portrait tablets and large phones, 328px and up) */
@media only screen and (min-width: 328px) {
    #sidebar-terapias { text-align: center; }  
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   /* Code... */
   #menu-responsive div {
       display: none;
   }
   #backgroundfooter {
       background-size: 100% auto;
   }
   div#respond h3 {
       background-color: #59599033!important;
       padding-top: 10px;
       margin-top: 0!important;
       margin-bottom: 0!important;
    }
    
    form#commentform input[type=text],
    form#commentform textarea {
        width: 80%;
        margin-left: 10%!important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
   
    ul.menu-superior li {
        background-color: #0014d6!important;
        color: white!important;
    }
    
    ul.menu-superior li :hover {
        background-color: #ffffff!important;
        color: #0014d6!important;
    }
    #backgroundfooter {
        background-size: 100% auto;
    }

    div.w3-bar div.w3-row div.w3-rest { margin-top: 10px!important; }

    #imagen-encabezado .w3-display-container { height: 290px; }

    #sidebar-terapias { text-align: center; }

    .post-content blockquote p { margin-left: 35px; }
    #comentarios ul.children { margin-left: 50px; }
    div#respond h3 { 
        background-color: #59599033!important;
        padding-top: 10px;
       padding-bottom: 10px;
       margin-top: 0!important;
       margin-bottom: 0!important;
    }
    form#commentform input[type=text],
    form#commentform textarea {
        margin-left: 15%!important;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .text-menu { font-size: 12pt; }
    .menu-margin-xs_lr { margin-left: 5px; margin-right: 5px; }
    .menu-padding-xs_lr { padding-left: 16px!important; padding-right: 16px!important; }
    #backgroundfooter {
        background-size: 100% auto;
    }
    #imagen-encabezado .w3-display-container { height: 346px; }

    #sidebar-terapias { text-align: center; }   
    .post-content blockquote p { margin-left: 60px; }     
    div#respond h3 { 
        background-color: #ffffff!important;
        float: left;
        margin-top: 260px!important;
        width: 41.66666%;
    }
    div#respond form#commentform {
        overflow: hidden;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #backgroundfooter {
        background-size: auto 99%;
    }
    #imagen-encabezado .w3-display-container { height: 400px; }

    #sidebar-terapias { text-align: left; }
    .post-content blockquote p { 
        margin-left: 100px;
        margin-right: 100px; 
    }   
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #backgroundfooter {
        background-size: auto 99%;
    }
    #imagen-encabezado .w3-display-container { height: 450px; }
    .post-content blockquote p { 
        margin-left: 150px;
        margin-right: 150px; 
    }   
} 

/* Extra large devices (large laptops and desktops, 1500px and up) */
@media only screen and (min-width: 1500px) {
    #imagen-encabezado .w3-display-container { height: 530px; }
    .post-content blockquote p { 
        margin-left: 220px;
        margin-right: 220px; 
    } 
} 

/* Utilizado mayormente en el footer (Aplicable para cambios a partir de 790px) col-k  */
@media (min-width:790px){.w3-col.k1{width:8.33333%}.w3-col.k2{width:16.66666%}.w3-col.k3{width:24.99999%}.w3-col.k4{width:33.33333%}
.w3-col.k5{width:41.66666%}.w3-col.k6{width:49.99999%}.w3-col.k7{width:58.33333%}.w3-col.k8{width:66.66666%}
.w3-col.k9{width:74.99999%}.w3-col.k10{width:83.33333%}.w3-col.k11{width:91.66666%}.w3-col.k12{width:99.99999%}#backgroundfooter {background-size: auto 99%;}#ElementoFooter {margin-right:1.5em;}}

/* Utilizado en el footer (Aplicable para cambios hasta 789px) col-kz  */
@media (max-width:789px){.w3-col.kz1{width:8.33333%}.w3-col.kz2{width:16.66666%}.w3-col.kz3{width:24.99999%}.w3-col.kz4{width:33.33333%}
.w3-col.kz5{width:41.66666%}.w3-col.kz6{width:49.99999%}.w3-col.kz7{width:58.33333%}.w3-col.kz8{width:66.66666%}
.w3-col.kz9{width:74.99999%}.w3-col.kz10{width:83.33333%}.w3-col.kz11{width:91.66666%}.w3-col.kz12{width:99.99999%}#iconoss{width:65%; margin:auto;}
}

/* Utilizado en el footer (Aplicable para cambios hasta 479px) col-ky  */
@media (max-width:479px){.w3-col.ky1{width:8.33333%}.w3-col.ky2{width:16.66666%}.w3-col.ky3{width:24.99999%}.w3-col.ky4{width:33.33333%}
.w3-col.ky5{width:41.66666%}.w3-col.ky6{width:49.99999%}.w3-col.ky7{width:58.33333%}.w3-col.ky8{width:66.66666%}
.w3-col.ky9{width:74.99999%}.w3-col.ky10{width:83.33333%}.w3-col.ky11{width:91.66666%}.w3-col.ky12{width:99.99999%}#iconoss{width:99%}#ElementoFooter{margin-left:1em;margin-right:1em;}}

/* Listado de tamaños de fuentes  */
.font-size_12 { font-size: 12px !important; }
.font-size_13 { font-size: 13px !important; }
.font-size_16 { font-size: 16px !important; }

/* Estos son los estilos del footer */

    /* Configuracion de la imagen azulel del footer */
#backgroundfooter{
    background-image: url(images/azulelblanco.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: -100px;
}
    /* Configuracion de los placeholder o formulario */
.Formulario1{
    background-color: rgba(255,255,255,.1);
}
::placeholder{
    opacity:.9;
    font-family: 'Copperplate Gothic Light';
}
.Copperplate{
    font-family: 'Copperplate Gothic Light';
    font-size: 18;
}
::-webkit-input-placeholder { /* Safari y Chrome */
    color: #FFFFFF;
 }
  
 :-moz-placeholder { /* Firefox hasta v18 */
    color: #FFFFFF;  
 }
  
 ::-moz-placeholder {  /* Firefox 19+ */
    color: #FFFFFF;  
 }
  
 :-ms-input-placeholder {  /* IE 10+´*/
    color: #4679BD;  
 }
    /* Configuración del fondo azul */
#backgroundblue{
    background-color: rgba(0,1,90,.8);
    padding-top:-5px;
}
#BackgroundBlueClear{
    background-color:rgba(26,26,225,.5);
    width:100%;
    height:2em;
}
#FondoAzulPrincipal{
    background-color: rgb(0,1,90)
}
#backgroundclear{
    background-color:rgba(177,177,197,.5);
    width:100%;
    height:2em;
}
    /* Fuentes del Footer */
.Courgette{
    font-family: 'Courgette', cursive;  
    color:white;
}
.Raleway{
    font-family: 'Raleway', sans-serif;
    color:white;
}
 
/* Estilos del front-page */
    /* Media Screen de las fuentes y titulos principales, logo principal y ubicación fija-responsive del slider frases */    
    @media screen and (max-width: 4000px){
        .sliderfrases{font-size:40px;} #textofrases{margin-left:80px; margin-right:80px;} #frasesdinamicas{height: 185px;}#frasesdin{margin-top: 6.2em;}.tituloazulel{font-size:80px;} #logoazulelfp{width:35%;}.titulolmv{font-size:65px;} .FirstLetter{font-size:80px;}        }
    
    @media screen and (max-width: 1500px){
        .sliderfrases{font-size:40px;}#textofrases{margin-left:80px;margin-right:80px;}#frasesdinamicas{height: 185px;}#frasesdin{margin-top: 6.2em;}.tituloazulel{font-size:60px;}#logoazulelfp{width:40%;}.titulolmv{font-size:65px;}.FirstLetter{font-size:80px;}}
        
    @media screen and (max-width: 1126px){
        .sliderfrases{font-size:35px;}#textofrases{margin-left:80px;margin-right:80px;}#frasesdinamicas{height: 180px;}#frasesdin{margin-top: 6em;}.tituloazulel{font-size:53px;}#logoazulelfp{width:40%;}.titulolmv{font-size:63px;}.FirstLetter{font-size:78px;}}

    @media screen and (max-width: 1004px){
        .sliderfrases{font-size:30px;}#textofrases{margin-left:50px;margin-right:50px;}#frasesdinamicas{height: 165px;}#frasesdin{margin-top: 6em;}.tituloazulel{font-size:45px;}#logoazulelfp{width:40%;}.titulolmv{font-size:63px;}.FirstLetter{font-size:78px;}}
        
    @media screen and (max-width: 752px){
        .sliderfrases{font-size:30px;}#textofrases{margin-left:50px;margin-right:50px;}#frasesdinamicas{height: 195px;}#frasesdin{margin-top: 6em;}.tituloazulel{font-size:38px;}#logoazulelfp{width:40%;}.titulolmv{font-size:54px;}.FirstLetter{font-size:70px;}}
        
    @media screen and (max-width: 600px){
        .sliderfrases{font-size:30px;}#textofrases{margin-left:50px;margin-right:50px;}#frasesdinamicas{height:210px;}#frasesdin{margin-top: 6em;}.tituloazulel{font-size:45px;}#logoazulelfp{width:28%;}.titulolmv{font-size:49px;}.FirstLetter{font-size:65px;}}

    @media screen and (max-width: 474px){
        .sliderfrases{font-size:25px;}#textofrases{margin-left:50px;margin-right:50px;}#frasesdinamicas{height:203px;}#frasesdin{margin-top: 5.4em;}.tituloazulel{font-size:40px;}#logoazulelfp{width:30%;}.titulolmv{font-size:42px;}.FirstLetter{font-size:58px;}}

    @media screen and (max-width: 402px){
        .sliderfrases{font-size:20px;}#textofrases{margin-left:50px;margin-right:50px;}#frasesdinamicas{height:190px;}#frasesdin{margin-top: 5em;}.tituloazulel{font-size:33px;}#logoazulelfp{width:40%;}.titulolmv{font-size:34px;}.FirstLetter{font-size:50px;}}

    @media screen and (max-width: 314px){
        .sliderfrases{font-size:15px;}#textofrases{margin-left:40px;margin-right:40px;}#frasesdinamicas{height:125px;}#frasesdin{margin-top: 3em;}.tituloazulel{font-size:30px;}#logoazulelfp{width:30%;}.titulolmv{font-size:34px;}.FirstLetter{font-size:50px;}}
    @media screen and (min-width: 601px){
        .margintop3{margin-top:30px}}
                
    .flex-cont{
        display:flex;
    }
    .SegmentosLMV2{
        width:33.33333%;
    }
    /* CSS FRASES */    
    .frasesdinamicas{
        align-items:center;
        margin:auto;
        text-align: center;
        align-content: center;
        justify-content:center;
        display:flex;
        vertical-align: middle;
        }
    #textofrases, #vinculofrases{
        text-decoration:none;
    }
    .botonesflecha{
        width:50px;
        opacity:.6;
        }
    .margindin{
        margin-left:-60px;
        margin-right:-60px;
        }
    #FrasesDIN{
        width:99.99999999%;
        position:absolute;
        top: 50%;
        }       

    /* CSS Bonsai */
    .Bonsai{
        width:100%;
        }
    #ContenedorBonsai{
        position:relative;
        }
    
    /* CSS ¿Que es azulel? y Testimonios */
    .queesazulel{
        background-color:#0014d6;
        color:white;
        align-content: center;
        text-align: center;
        }
    .PaddingAzulel{
        padding-left:0.5em;
    }
    .queesazulel2{
        position:relative;
        margin-top:-5em;
        }
    #divisorslogan{
        margin-left:2em;
        border-left: 4px solid rgb(0,0,0);
        margin-top:1em;
        }
    .centrartexto{
        text-align: center;
        align-content: center;
        }
    .centrartexto2{
        text-align:right;
        }
    #ContenidoSlogan2{
        margin-left:2em;
        margin-top:0.5em;
        font-size:18;
        color:#0014d6;
        line-height: 1.3em;
        }
    .TituloSlogan{
        font-size:30;
        }
    .ContenidoSlogan{
        font-size:21;
        color:#000b69;
        line-height:1.2em;
        }
    .LetraTestimonios{
        color:rgb(10,10,120);
        }
    .Margen-TOP{
        margin-top:-0.5em;
        margin-bottom:0.5em;
        }
    .BlogsLMV{
        padding-left:10px;
        padding-right:10px;
        text-align:justify;
        font-weight: 400;
        line-height: 1.2;
    }
    .Interlineado1{
        line-height:1em;
        }
    #bordeazuls{
        border-top: 4px solid #0014d6;
        }
    #titulolmv1{
        margin-left:1em;
        }   

    /* Propiedad de alinear 1 solo DIV.*/
    .Contenedor{
        display:flex;
        align-items:center;
    }
    .Contenido{
        margin:0 auto;
    }

    /* Config Slider Testimonios */
    .FondoTestimonios{
        background-color:rgb(95,124,217);
    }
    .mySlides {display:none}
    .w3-left, .w3-right, .w3-badge {cursor:pointer}
    .w3-badge {height:13px;width:13px;padding:0}
    .transicion{height:1.8em;}
    .pointer{cursor:pointer}    
    .slider1 {width: 95%;margin: auto;overflow: hidden;} 
    .slider1 ul {display: flex;padding: 0;width: 400%;animation: cambio 40s infinite alternate linear;}
    .slider1 li {width: 100%;list-style: none;}  
    .slider1 img {width: 100%;}
    
    @keyframes cambio {
        0% {margin-left: 0;}
        20% {margin-left: 0;}     
        25% {margin-left: -100%;}
        45% {margin-left: -100%;}
        50% {margin-left: -200%;}
        70% {margin-left: -200%;}
        75% {margin-left: -300%;}
        100% {margin-left: -300%;}
    }

    /* Propiedades Segmento "Lo mas visto" */
    .divslomasvisto{
        padding: 1em;
    }
    .PR{position:relative;}
    .FechaBlogs{
        position:absolute;
        bottom:0px;
        right:0px;
    }
    .contenidoblogsmv{
        padding-bottom:5px;
        background-color:#f1f1f1;
        overflow:hidden;
    }
    .ImagenBlogsLMV{
        width:100%;
        height:150px;
    }
    #FondoBlogsLMV{
        background-image:url(images/azulel.png);
        background-repeat:no-repeat;
        background-position:center;
        background-size: 150px 80px;        
    }
    .Opacidad1{
        background-color:rgba(255,255,255,.5);
    }
    .TituloBlogsLMV{
        text-align:center;
        padding-right:15px;
        padding-left:15px;
    }
    .ContenidoBlogsLMV{
        font-size:15px;
        text-align:justify;
        padding-right:15px;
        padding-left:15px;        
    }
    .ReadMore{
        font-size:18px;
        text-align:right;
        padding-right:15px;
    }
    * {
        box-sizing: border-box;
    }
    #Responsive2 {
        text-align: center;
    }
    input[name="slider-select-element"] {
        display: none;
    }
    .element-blue,
    .element-green,
    .element-red {
        width: 100%;
    }
    .element-red {
        background: white  ;
    }
    @media screen and (max-width: 799px){.Responsive1{display:none;}   
    #slider-container {
        margin: 0 auto;
        overflow: hidden;
        text-align: left;
        width: 70%;
    }
    #slider-arrows {
        width: 99.999999999%;
    }    
    #slider-box {
        width: 300%;
        padding-bottom:1em;
    }
    .slider-element {
        float: left;
        width: 33.333%;
    }    
    #element1:checked ~ #slider-arrows label:nth-child(2),
    #element2:checked ~ #slider-arrows label:nth-child(3),
    #element3:checked ~ #slider-arrows label:nth-child(1) {
        display: block;
        float: right;
    }    
    #element1:checked ~ #slider-arrows label:nth-child(3),
    #element2:checked ~ #slider-arrows label:nth-child(1),
    #element3:checked ~ #slider-arrows label:nth-child(2) {
        display: block;
        float: left;
    }    
    #element1:checked ~ #slider-arrows label:nth-child(2):before,
    #element2:checked ~ #slider-arrows label:nth-child(3):before,
    #element3:checked ~ #slider-arrows label:nth-child(1):before {
        color: black  ;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: antialiased;
    }
    #FlechaLMV{
        width:15%
    }
    #element1:checked ~ #slider-arrows label:nth-child(3):before,
    #element2:checked ~ #slider-arrows label:nth-child(1):before,
    #element3:checked ~ #slider-arrows label:nth-child(2):before {
        color: black  ;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: antialiased;
    }    
    #element1:checked ~ #slider-container #slider-box {
        margin-left: 0;
    }
    #element2:checked ~ #slider-container #slider-box {
        margin-left: -100%;
    }
    #element3:checked ~ #slider-container #slider-box {
        margin-left: -200%;
    }
    #slider-arrows{
        position:absolute;
    }
    #FlechaLMV{
        z-index:1;
        position:absolute;
    }
    #slider-arrows label {
        color: transparent;
        cursor: pointer;
        display:none;
        font-size: 2rem;
    }
    #labelsss{
        position:absolute;
        z-index:2;
        width:99.999999%;
    }
    #labelss{
        margin-top:-21em;
    }    
    #slider-box {
        -webkit-transition: all 0.75s ease;
        -moz-transition: all 0.75s ease;
        -ms-transition: all 0.75s ease;
        -o-transition: all 0.75s ease;
        transition: all 0.75s ease;
    }
    #tarjetas{
        width: 99.9999999999%;
    }
    #tarjetas2{
        width: 95%;
    }
    .Letrasuaves{
        font-weight:400;
    }
    }
    @media screen and (min-width: 800px){
        #element1, #element2, #element3, #slider-arrows{
            display:none;
        }
        #tarjetas{
            width: 33.3333333%;
        }
        #tarjetas2{
            width: 95%;
        }
        .MargenContainer{
            margin-left:1.5em;
            margin-right:1.5em;
            margin-bottom:1.5em;
        }
    }
    @media screen and (max-width: 404px){
        #slider-arrows label{
            margin-top:-9.5em;
            height: 90px;
            width: 40px;
        }
        #FlechaLMV{
            margin-top:-16em;
        }
    }
    @media screen and (min-width: 405px){
        #slider-arrows label{
            margin-top:-9.5em;
            margin-left:15px;
            margin-right:15px;
            height: 85px;
            width: 9%
        }
        #FlechaLMV{
            margin-top:-16em;
        }
    }
    @media screen and (min-width: 600px){
        #slider-arrows label{ 
            height: 100px;
            width: 9%;
            margin-top:-9.5em;
        }
        #FlechaLMV{
            margin-top:-16em;
        }
    }
    @media screen and (min-width: 700px){
        #slider-arrows label{ 
            height: 140px;
            width: 9%;
            margin-top:-9.5em;
            margin-left:20px;
            margin-right:20px;
        }
        #FlechaLMV{
            margin-top:-16em;
        }
    }
    .Comillas{
        width:25px;
        height:25px;
        opacity:.3;
    }
    .Comillas1{
        margin-top:-2em;
    }
    .Comillas2{
        margin-bottom:-1em;
    }
