/*
Theme Name: Azulel
Theme URI: https://wordpress.org/themes/azulel
Author: C.A. iSerT - By Di Michele Roberto, Alarcon Gerald, Gonzalez Josias, Linares Betzabeth 
Author URI: https://isert.com/
Description: Tema creado a medida para Azulel.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: Royald
Tags: self, one-column, two-columns, right-sidebar, flexible-header, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready
This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/* MARGIN */
.no-margin { margin: 0!important; }
.margin-xs { margin: 5px; }
.margin-sm { margin: 10px; }
.margin-md { margin: 15px; }
.margin-lg { margin: 20px; }
.margin-xl { margin: 25px; }


/* MARGIN TOP */
.no-margin-t { margin-top: 0!important; }
.margin-xs-t { margin-top: 5px; }
.margin-sm-t { margin-top: 10px; }
.margin-md-t { margin-top: 15px; }
.margin-lg-t { margin-top: 20px; }
.margin-xl-t { margin-top: 25px; }
.marginbt { margin-top:0.5em; }
    

/* MRGIN-TOP pesonalizados */
.margin-t-200 { margin-top:-200px; }
.margin-t-70 { margin-top:-70px; }
.margin-t-55 { margin-top:-55px; }
.margin-t-7 { margin-top: -7px; }
.margin-t_60 { margin-top: 60px!important; }

/* MARGIN BOTTOM */
.no-margin-b { margin-bottom: 0!important; }
.margin-xs-b { margin-bottom: 5px; }
.margin-sm-b { margin-bottom: 10px; }
.margin-md-b { margin-bottom: 15px; }
.margin-lg-b { margin-bottom: 20px; }
.margin-xl-b { margin-bottom: 25px; }

/* MARGIN LEFT */
.no-margin-l { margin-left: 0!important; }
.margin-xs-l { margin-left: 5px; }
.margin-sm-l { margin-left: 10px; }
.margin-md-l { margin-left: 15px; }
.margin-lg-l { margin-left: 20px; }
.margin-xl-l { margin-left: 25px; }

/* MRGIN-LEFT pesonalizados */
.margin-l_40 { margin-left: 40px; }
.margin-l_60 { margin-left: 60px; }
.margin-l_130 { margin-left: 130px; }
.no-margin-lt { margin-left: 0!important; margin-top: 0!important; }

/* MARGIN RIGHT */
.no-margin-r { margin-right: 0!important; }
.margin-xs-r { margin-right: 5px; }
.margin-sm-r { margin-right: 10px; }
.margin-md-r { margin-right: 15px; }
.margin-lg-r { margin-right: 20px; }
.margin-xl-r { margin-right: 25px; }


/* MARGIN LEFT-RIGHT */
.no-margin_lr { margin-left: 0!important; margin-right: 0!important; }
.margin-xs_lr { margin-left: 5px; margin-right: 5px; }
.margin-sm_lr { margin-left: 10px; margin-right: 10px; }
.margin-md_lr { margin-left: 15px; margin-right: 15px; }
.margin-lg_lr { margin-left: 20px; margin-right: 20px; }
.margin-xl_lr { margin-left: 25px; margin-right: 25px; }

/* MARGIN LEFT-RIGHT (Personalizados) */
.margin-lr_40 { margin-left: 40px!important; margin-right: 40px!important; }


/* MARGIN TOP-BOTTOM */
.no-margin_tb { margin-top: 0!important; margin-bottom: 0!important; }
.margin-xs_tb { margin-top: 5px; margin-bottom: 5px; }
.margin-sm_tb { margin-top: 10px; margin-bottom: 10px; }
.margin-md_tb { margin-top: 15px; margin-bottom: 15px; }
.margin-lg_tb { margin-top: 20px; margin-bottom: 20px; }
.margin-xl_tb { margin-top: 25px; margin-bottom: 25px; }
.margin-b {margin-bottom:10px;}

/* MARGENES MIXTOS */
.rightleft{ margin-right: 1em; margin-left: 1em;}
.rightleft2{ margin-right: 3em; margin-left: 1em;}
.marginbottom1 { margin-bottom:1em;}
.marginbottom5px { margin-bottom:5px;}

/* PADDINGS */

.no-padding { padding: 0!important; }
.padding-xs { padding: 5px; }
.padding-sm { padding: 10px }
.padding-md { padding: 15px }
.padding-lg { padding: 20px }
.padding-xl { padding: 25px }
.paddingleft { padding:0.7em}

/* PADDINGS (PERSONALIZADOS) */
.padding_30_20 { padding: 30px 20px; }
.padding_0_8 { padding: 0 8%!important; }
.padding-lista-terapias-movil { padding: 20px 20px 30px 20px!important; }
.padding-lista-terapias { padding: 20px 25px 30px 108px !important; }

/* PADDING-TOP PERSONALIZADOS */
.padding-t_40 { padding-top: 40px!important; }
.padding-t_60 { padding-top: 60px!important; }

/* PADDING TOP-BOTTOM*/
.no-padding-tb { padding-top: 0!important; padding-bottom: 0!important; }
.padding-xs-tb { padding-top: 5px; padding-bottom: 5px; }
.padding-sm-tb { padding-top: 10px; padding-bottom: 10px; }
.padding-md-tb { padding-top: 15px; padding-bottom: 15px; }
.padding-lg-tb { padding-top: 20px; padding-bottom: 20px; }
.padding-xl-tb { padding-top: 25px; padding-bottom: 25px; }
.padding-tb_39 { padding-top: 39px 0;}

/* PADDINGS LEFT-RIGHT */
.no-padding_lr { padding-left: 0!important; padding-right: 0!important; }
.padding-xs_lr { padding-left: 5px; padding-right: 5px; }
.padding-sm_lr { padding-left: 10px; padding-right: 10px; }
.padding-md_lr { padding-left: 15px; padding-right: 15px; }
.padding-lg_lr { padding-left: 20px; padding-right: 20px; }
.padding-xl_lr { padding-left: 25px; padding-right: 25px; }

/* PADDINGS BOTTOM */
.no-padding-b { padding-bottom: 0!important; }
.padding-xs-b { padding-bottom: 5px; }
.padding-sm-b { padding-bottom: 10px; }
.padding-md-b { padding-bottom: 15px; }
.padding-lg-b { padding-bottom: 20px; }
.padding-xl-b { padding-bottom: 25px; }

/* Paddings bottom (personalizados) */
.padding-b_50 { padding-bottom: 50px; }

/* BORDERS (Personalizados) */
.border-xs-b-azulel { border-bottom: 4px solid #0014d6; }
.border-xs-b-azulclaro { border-bottom: 4px solid #0197f0; }
.border-sm-b-azulel { border-bottom: 10px solid #0014d6; }
.border_3-azulel { border: 3px solid #0014d6 }
.border_6-azulel { border: 6px solid #0014d6 }

/* BORDER RADIUS */
.border-radius-xs { border-radius: 5px; }
.border-radius-sm { border-radius: 10px; }
.border-radius-md { border-radius: 15px; }
.border-radius-lg { border-radius: 20px; }
.border-radius-xl { border-radius: 25px; }

.border-radius-xs-t { border-radius: 5px  5px 0px 0px; }
.border-radius-sm-t { border-radius: 10px 10px 0px 0px; }
.border-radius-md-t { border-radius: 15px 15px 0px 0px; }
.border-radius-lg-t { border-radius: 20px 20px 0px 0px; }
.border-radius-xl-t { border-radius: 25px 25px 0px 0px; }


/* HEIGHTS */
.height_48 { height: 48px; }
.height_49 { height: 49px; }
.height_58 { height: 58px; }
